ASP/ABMLPersona/App_WebReferences/UsuarioWebService/UsuarioWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Fetch">
        <s:complexType />
      </s:element>
      <s:element name="FetchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaDeNacimiento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sexo" type="tns:TipoGenero" />
          <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoGenero">
        <s:restriction base="s:string">
          <s:enumeration value="Varon" />
          <s:enumeration value="Mujer" />
          <s:enumeration value="Hermafrodita" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="tns:Usuario" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioModif" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchSoapIn">
    <wsdl:part name="parameters" element="tns:Fetch" />
  </wsdl:message>
  <wsdl:message name="FetchSoapOut">
    <wsdl:part name="parameters" element="tns:FetchResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioWebServiceSoap">
    <wsdl:operation name="Fetch">
      <wsdl:input message="tns:FetchSoapIn" />
      <wsdl:output message="tns:FetchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioWebServiceSoap" type="tns:UsuarioWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fetch">
      <soap:operation soapAction="http://tempuri.org/Fetch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioWebServiceSoap12" type="tns:UsuarioWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fetch">
      <soap12:operation soapAction="http://tempuri.org/Fetch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWebService">
    <wsdl:port name="UsuarioWebServiceSoap" binding="tns:UsuarioWebServiceSoap">
      <soap:address location="http://localhost:53363/SOAP/UsuarioWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioWebServiceSoap12" binding="tns:UsuarioWebServiceSoap12">
      <soap12:address location="http://localhost:53363/SOAP/UsuarioWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>